<%- include("partials/header.ejs") %>
<div id="maincont">
<div class="container d-flex flex-wrap justify-content-center" style=" margin-bottom: 15px;">
    <a href="/index" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
    
      <span class="fs-4">All Items</span>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search" >
    </form>
</div>
<% if (locals.products) { %>
    <% products.forEach(element => { %>
        <div class="itemcontainer prod_container">
            <div class="image_container">
                 <div>
                    
                    <img src=<%= element.image %> class="prod_img">
                    <p> Price : Rs <%= element.price %></p>
                 </div>
               
            </div>
            <div class="inner_container">
                <div style="text-align: center;">
                    <h2 style="text-align: center; font-size: 4rem;"><%= element.title %></h3>
                    <div class="description_container">
                        <h3>Product Details</h3>
                        <p><%= element.description%> </p>
                        <ul>
                            <li>Seller : <%= element.name %></li>
                            <li>Contact No: <%= element.contact_no %></li>
                            <li>Product Used: <%= element.year_used %> Months </li>
                        </ul>
                        <div style="display: flex; justify-content: center;">
                            <form action="/buy" method="post">
                                <!-- <input type="submit" onchange="this.form.submit()" name="product_id" value="Buy" class="btn btn-success"> -->
                                <button type="button" class="btn btn-success" onclick="openPopup('<%= element.prod_id%>')">Buy</button>
                                <div class="popup" id="<%=element.prod_id%>">
                                    <img src="/images/tick.png">
                                    <h2>Thank You!</h2>
                                    <p>Your Order has been placed Successfully !</p>
                                    <button type="submit" onclick="closePopup('<%= element.prod_id%>')"  name="product_id" value="<%= element.prod_id %>">OK</button>
                                </div>
                            </form>
                            
                             <div style="width: 10px;"></div>
                             <form action="/cartadd" method="post">
                                <button class="btn btn-info" name="cart_id" value="<%= element.prod_id %>">Add to Cart</button>
                             </form>
                           
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
   <% }); %>         
<% } %>
<script>
    
    function openPopup(id) {
        let popup=document.getElementById(id);
        popup.classList.add("open-popup");
    }
    function closePopup(id) {
        let popup=document.getElementById(id);
        popup.classList.remove("open-popup");
    }
</script>

<%- include("partials/footer.ejs") %>