<%- include("partials/header.ejs") %>

<% if (locals.length==0) { %>
    <div style="display: flex; justify-content: center;">
        <img src="/images/notification.jpg">
    </div>
    
 <% } else { %>
<h1 class="heading1">Congrats, We found Customer 🎊🎊🎉🥳</h1>
<div class="notify_container">
    <div style="height: 50px;"></div> 
    
    <% notification.forEach(element => { %>
        
        <div class="inner_notify_container">
            <div class="notify_content">
                <img src=<%= element.image %> width="200px" style="height: auto;" >
                <div style="width: 50px;"></div>
                <div style="text-align: start; width: 1000px;">
                    <h3>Name: <%= element.name  %> </h3>
                    <h3>Contact No: <%= element.contact_no %></h3>
                    <h3>Id : <%=  element.id %></h3>
                    <p>Hey! I want to buy your <%= element.title %>, <br> <%= element.description %> <br> Lets Meet</p>
                   
                </div>
                <div class="notificationbtn">
                    <form action="/marked" method="post">
                      
                        <button type="submit" class="btn btn-danger" name="notify_id" value="<%= element.notify_id %>">Mark As Read</button>
                    </form>
                </div>
            </div>    
        </div> 
       
    <% }); %>

</div>
    

<%  } %>
<%- include("partials/footer.ejs") %>